%table.details-table
  %tbody
    %tr
      %td.mark-entry{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Change Management:
      %td.empty-cell{:rowspan => 2}
      %td.mark-entry.left-space{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Economise of Time:
    %tr.space-under
      %td.normal-entry.top
        The Empower card eradicates the hassle of fumbling for exact change for fare in buses, taxis, trains and subways, especially when it is crowded or when you are in a hurry.
      %td.normal-entry.top
        Saves you precious hours for more productivity by replacing the need to wait in long queues for tickets.

    %tr
      %td.mark-entry{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Easy To Use:
      %td.empty-cell{:rowspan => 2}
      %td.mark-entry.left-space{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Makes parking vehicles more convenient:
    %tr.space-under
      %td.normal-entry.top
        Once you top up your card, all it needs is a tap on the reader at the start and end of a journey to calculate and deduct your fare from your E-purse. It is just as easy to recharge the balance on the card.
      %td.normal-entry.top
        Removes the trouble of waiting in line behind other automobiles at the entrance and exit of organised parking spaces to collect and pay for tokens/cards/tickets, making vehicular locomotion smoother and faster.

    %tr
      %td.mark-entry{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Lifelong validity:
      %td.empty-cell{:rowspan => 2}
      %td.mark-entry.left-space{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Easy replacements 
    %tr.space-under
      %td.normal-entry.top
        Once registered, you don’t need to worry about renewing your card over and over again.

      %td.normal-entry.top
        To further ease your travel management, we at Empower card have made the replacement of a lost card free of charge! The replacement card will be swiftly made available to you within 48 working hours from the time of registration of a lost-card report.


