%table.details-table
  %tbody
    %tr
      %td.mark-entry{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Reduction of Downtime:
      %td.empty-cell{:rowspan => 2}
      %td.mark-entry.left-space{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Save on interchange fee:
    %tr.space-under
      %td.normal-entry.top
        Our product makes the task of the service provider more prompt and efficient, allowing the number of users at the terminal to grow manifolds.

      %td.normal-entry.top
        With a focus on making trade more profitable for our partners, Empower card is set to roll out the technology at a mere rate of 1% across all retailers, which is significantly less than the 3% interchange fee charged by conventional payment systems, such as Visa or Mastercard.

    %tr
      %td.mark-entry{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Reduce the dependence on change or cash:
      %td.empty-cell{:rowspan => 2}
      %td.mark-entry.left-space{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Eliminates the chances of pilferage in business:
    %tr.space-under
      %td.normal-entry.top
        It circumvents the inescapable hurdle of a deficiency of cash change that retailers face multiple times a day. The RFID technology employed by Empower cards automatically calculates and safely runs the transaction on your behalf.
      %td.normal-entry.top
        Since there is no application of additional products (tickets/coupons/passes) in the transaction, the risk of fraudulence or acts going unaccounted for is non-existent, making business more reliable.

    %tr
      %td.mark-entry{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Allotting daily rewards:
      %td.empty-cell{:rowspan => 2}
      %td.mark-entry.left-space{:rowspan => 2}
        %span.checkmark
          .checkmark_circle 
          .checkmark_stem 
          .checkmark_kick
      %td.heading.normal-entry
        Long term benefit:
    %tr.space-under
      %td.normal-entry.top
        Benefits are awarded to retailers for incorporating the technology, e.g. Bonus and Tips on daily transaction amount done using our product.
      %td.normal-entry.top
        Once empower card attains its predicted patronage and popular usage, terminals using our product will attract users exponentially and hence increase revenues.
